:root {
    --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;

    background: var(--Very-Dark-Blue);
    color: var(--Pale-Blue);
}
.hero {
    background: url('./images/bg-mobile.png') 0 0 / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 20px;
}
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 5px;
}
.hero__inner {
    display: flex;
    flex-direction: column;
}
.hero-box1 {
    padding: 20px 40px 20px 20px;
    border-radius: 5px;
    border-top-right-radius: 70px;
    background-color: var(--Dark-Blue);
    margin-bottom: 20px;
}
.logo {
    margin-bottom: 20px;
}
.hero-box1__icons {
    display: flex;
    justify-content: flex-start;
}
.icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-Dark-Blue);
}
.hero-box2 {
    position: relative;
    padding: 20px 20px 40px;
    border-radius: 5px;
    background-color: var(--Dark-Blue);
}
.hero-box2__text {
}

.hero-box2__info {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 10px;
    white-space: nowrap;
    font-weight: 700;
    font-size: 30px;
    background: var(--Pale-Blue);
    color: var(--Very-Dark-Blue);
}
.hero-box2__info strong{
    font-size: 15px;
    text-transform: uppercase;
    color: var(--Grayish-Blue);
}
.hero-range {
    position: relative;
    padding-bottom: 25px;
}
.hero-range::before,
.hero-range::after {
    position: absolute;
    bottom: 0;
    font-weight: 700;
}
.hero-range::before {
    content: "0 GB";
    left: 0;
}
.hero-range::after {
    content: "1000 GB";
    right: 0;
}
.hero-range__input {
    width: 100%;
    height: 15px;
    -webkit-appearance: none;
    background: var(--Very-Dark-Blue);
    outline: transparent;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0,0,0, 1);
}
.hero-range__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--Pale-Blue);
    box-shadow:   -407px 0 0 400px #ffa399,
                 -407px 0 0 200px #ff4d97;
    cursor: pointer;             
}

@media (min-width: 340px) {
    .container {
        padding: 0 15px;
    }
}
@media (orientation: landscape) {
    .hero {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media (min-width: 768px) {
    .hero__inner {
        flex-direction: row;
    }
    .hero-box1 {
        margin-bottom: 0;
        margin-right: 50px;
    }
}
@media (min-width: 930px) {
    .hero {
        background: url('./images/bg-desktop.png') 0% 100% / auto no-repeat;
    }
    .hero-box1 {
        padding: 50px 70px 50px 50px;
    }
    .hero-box2 {
        height: 80%;
        align-self: flex-end;
        width: 400px;
        padding: 30px 40px 40px;
    }
    .hero-box2__info {
        bottom: auto;
        left: auto;
        top: -30px;
        right: 40px;
        transform: translateX(0);
        border-bottom-right-radius: 0;
    }
    .hero-box2__info::after {
        position: absolute;
        bottom: -20px;
        right: 0;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 20px 20px 0;
        border-color: transparent var(--Pale-Blue) transparent transparent;
    }
}
@media (min-width: 1200px) {
    .hero-box2 {
        width: 600px;
    }
    .hero-box2__text {
        font-size: 18px;
    }
    .hero-box2__info {
        padding: 20px;
        font-size: 35px;
    }
}
@media (min-width: 1445px) {
    .hero {
        background: url('./images/bg-desktop.png') 0% 120% / contain no-repeat;
    }
}